body {
    font-family: Arial;
}
#mainimg{
    width: 35%;
}
.box{
    border: 0.25px solid black;
    background-color: aliceblue;
    width: 200px;
    padding:1rem;
}
.boxlink{
    text-decoration: none;
}
.oldimg{
    height:200px;
    width: 200;
    margin-right: 1rem;
}
#description{
    background-color:antiquewhite;
}
